body {
    overflow:hidden;
}
h1 {
    color:white;
    font-family:"Verdana";
    font-size:50px;
}
table {
    color:white;
    width:100%;
    text-align:center;
    padding-left:7%;
    padding-right:7%;
}
#t1 {
    padding-top:7%;
    padding-bottom:2%;
}
#t2 {
    padding-top:2%;
    padding-bottom:7%;
}
td {
    text-align:center;
    font-size:35px;
}
div {
    background-color:maroon;
    color:beige;
    font-family:Verdana;
    text-align:center;
    padding-top:0px;
    padding-bottom:0px;
    border-radius:8px;
    margin:2.5%;
    width:95%;
    height:95%;
    text-align:center;
}
.orange {
    color:orange;
}
a {
    width:50%;
    text-decoration:none;
    color:white;
}
button {
    width:90%;
    background-color: darkorange;
    border-radius:0px;
    color: #fff;
    font-family: 'Verdana';
    font-size: 60px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding:8px;
    margin:10px;
    height:100%;
}
hr {
    border: 0;
    background-color:white;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
#submit:hover {
    border: none;
    background:darkorange;
    box-shadow: 0px 0px 1px #fff;
}
input[type=radio] {
    display:none;
    margin:10px;
}
input[type=radio] + label {
    display:inline-block;
    margin:5px;
    width:90%;
    height:90%;
    padding: 4px 12px;
    background-color: DimGray;
    border-color: #ddd;
}
input[type=radio]:checked + label { 
    background-image: none;
    background-color:#009999;
}
input[type=submit] {
    background-color:darkorange;
    margin:20px;
}
img {
    width:70%;
    height:auto;
}